.git
.github
.idea
.vscode
.arena
target
build
*.iml
*.log
.env
.env.*
!.env.example
node_modules
**/node_modules
ci-artifacts
data
docs/test-reports
docs/benchmark/results.jtl
docs/benchmark/html-report
